
.nav{
  height: 40px;
  background-color:#282c34;
  color:#fff;
  margin-bottom: 10px;
  line-height: 40px;
  
}
.nav h3{
  margin:0;
  padding: 0 5px;
}

.modal{
  background-color: #ededed;
  text-align: center;
  max-height: 245px;
}

.likes{
  margin-left: 10px;
  font-size: .9rem;
  color: #333;
}

.list h3, p{
 padding: 0 10px;
}

.publish {
  margin : 30px auto;
}
.publish input{
  padding : 10px;
  font-size : 16px;
  border-radius : 5px;
  width : 80%;
  margin: auto;
  display: block;
  border : 1px solid grey;
}
.publish button, .opnCls button {
  display : block;
  margin : auto;
  margin-top : 10px;
}
